<div class="edit-list-lessons pt-4">
    <div class="ms-4">
        <h5>
            Chỉnh sửa khóa học: {{course.name}}
        </h5>
        <h5>
            Số bài học: {{lessonsCount}}
        </h5>
    </div>

    <div class="d-flex justify-content-center">
        <div class="list-group" id="edit-list-lessons" lengths="{{lessons.length}}">
            <div class="list-lessons">
                {{#each lessons}}
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="button" value="{{this._id}}" class="list-group-item list-group-item-action me-2 btn-edit-list-lessons" aria-current="true">
                            Bài {{this.order}}. {{this.name}}
                        </button>
                        <button class="nav-link btn-icon-edit align-items-center" value="{{this._id}}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>
                {{/each}}
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="button" value="{{lessonsCount}}" class="list-group-item list-group-item-action me-2 btn-add-lesson containers" aria-current="true">
                    <a href="/courses/{{course._id}}/edit/lessons/add?currentOrder={{lessonsCount}}"><i class="fa-solid fa-plus"></i> Thêm bài học</a>
                </button>
                <a href="/courses/{{course._id}}/edit/lessons/add?currentOrder={{lessonsCount}}" class="nav-link btn-icon-edit align-items-center">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const lessonList = document.getElementById('edit-list-lessons');
        const buttons = lessonList.getElementsByClassName('btn-edit-list-lessons');
        const editIconButtons = lessonList.getElementsByClassName('btn-icon-edit');
        const addLessonButton = document.getElementsByClassName('btn-add-lesson')[0];
        const currentUrl = window.location.origin + window.location.pathname;
        
        for (let button of buttons) {
            button.addEventListener('click', function () {
                const editDetailLessonUrl = `${currentUrl}/${this.value}`;
                window.location.href = editDetailLessonUrl;
            });
        }

        for (let editIconButton of editIconButtons) {
            editIconButton.addEventListener('click', function () {
                const editDetailLessonUrl = `${currentUrl}/${this.value}`;
                window.location.href = editDetailLessonUrl;
            });
        }

        addLessonButton.onclick = function () {
            const addLessonUrl = `${currentUrl}/add?currentOrder=${this.value}`;
            window.location.href = addLessonUrl;
        };
    });
</script>