<div class="mt-4 container">
  <form method="GET">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ Khoá (ghi rõ ngôn ngữ lập
        trình)</label>
      <input
        type="text"
        name="keyword"
        class="form-control"
        id="search-input"
        value="{{inputValue}}"
        placeholder="Nhập tên khoá học cần tìm kiếm"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>

  <div class="row ms-2">
    {{#each courses}}
      <div
        class="card course-card"
        style="width: 18rem; margin: 10px; padding: 0"
      >
        <a href="/courses/{{this.slug}}">
          <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}" />
        </a>
        <div class="card-body">
          <a href="/courses/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
          <a href="/courses/{{this.slug}}" class="btn btn-primary">Truy cập</a>
        </div>
      </div>
    {{else}}
      <h3>Không tìm thấy khoá học</h3>
    {{/each}}
  </div>
</div>