<div class="row content-lession">
  <div class="col-sm-8  ms-4">
      <div class="d-flex align-items-center mt-2">
        <h5 class="mb-0">{{course.name}}</h5>
        <p class="m-0 ms-2 course-description">{{currentLesson.name}}</p>
      </div>
    <div>
      <iframe
        width="100%"
        class="my-2"
        height="430"
        src="https://www.youtube.com/embed/{{currentLesson.videoId}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col mt-2 pe-2">
      <div id="lesson-list">
        <h6>Danh sách bài học:</h6>
        <div class="list-group">
          {{#each lessons}}
            <button type="button" value="{{this._id}}" class="list-group-item list-group-item-action" aria-current="true">
              Bài {{this.order}}. {{this.name}}
            </button>
          {{/each}}
        </div>
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const listGroup = document.getElementsByClassName('list-group');
    const lessonBtnHidForm = document.getElementById('form-hid-btn-lesson');
    const lessonList = document.getElementById('lesson-list');
    const buttons = lessonList.getElementsByClassName('list-group-item');
    const currentUrl = window.location.origin + window.location.pathname;

    const queryString = window.location.search;
    const urlQueries = new URLSearchParams(queryString);
    const currentQuery = urlQueries.get('current');

    for (let button of buttons) {
      button.addEventListener('click', function () {
        for (let btn of buttons) {
          btn.classList.remove('active');
        }
        this.classList.add('active');
        const detailCourseLessonUrl = `${currentUrl}?current=${this.value}`;
        window.location.href = detailCourseLessonUrl;
      });
    }

    if(!currentQuery) {
      buttons[0].classList.add('active');
    } else {
      for (let button of buttons) {
        if (button.value === currentQuery) {
          button.classList.add('active');
        }
      }
    }
    
  });
  
</script>