<div class="m-4">
  <form
    id="form-search"
    class="d-flex justify-content-center"
    method="POST"
    action="/search"
  >
    <div style="min-width: 40pc;">
      <div class="d-flex align-items-center">
        <input
          type="text"
          name="keyword"
          class="form-control p-2"
          id="search-input"
          value="{{keyword}}"
          placeholder="Nhập tên khoá học cần tìm kiếm"
        />
        <button
          type="submit"
          class="nav-link fs-3 text-black ms-3"
          id="search-courses"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    {{#if courses}}
      {{#if (same "teacher" isStudent)}}
        <h5>
          Khoá học của bạn
        </h5>
        {{#each courses}}
          <div
            class="card course-card"
            style="width: 18rem; margin: 10px; padding: 0"
          >
            <a href="/courses/{{this.slug}}">
              <img
                src="{{this.image}}"
                class="card-img-top"
                alt="{{this.name}}"
              />
            </a>
            <div class="card-body">
              <a href="/courses/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
              </a>
              <p class="card-text">{{this.description}}</p>
              <a
                href="/courses/{{this.slug}}"
                class="btn btn-primary mt-auto"
              >Truy cập</a>
            </div>
          </div>
        {{else}}
            <div class="containers">
              <img
                class="img-empty-course"
                src="/img/empty.png"
                alt="No content"
              />
              <h3>Chưa có khoá học nào được tạo!</h3>
              <a
                class="btn bg-success text-white btn-lg mt-2"
                href="/courses/create"
                role="button"
              >Tạo khoá học</a>
            </div>
        {{/each}}
      {{else}}
        <h5>
          Khoá học đề xuất cho bạn
        </h5>

        {{#each courses}}
          <div
            class="card course-card"
            style="width: 18rem; margin: 10px; padding: 0"
          >
            <a href="/courses/{{this.slug}}">
              <img
                src="{{this.image}}"
                class="card-img-top"
                alt="{{this.name}}"
              />
            </a>
            <div class="card-body">
              <a href="/courses/{{this.slug}}">
                <h5 class="card-title">{{this.name}}</h5>
              </a>
              <p class="card-text">{{this.description}}</p>
              <a
                href="/courses/{{this.slug}}"
                class="btn btn-primary mt-auto"
              >Đăng ký</a>
            </div>
          </div>
        {{else}}
            <div class="containers mt-4">
              <h6>Không tìm thấy khoá học nào</h6>
            </div>
        {{/each}}
      {{/if}}
    {{/if}}

  </div>
</div>

<script>
  const formSearch = document.getElementById("form-search"); const btnSearch =
  document.getElementById("search-courses"); btnSearch.onclick = (e) => {
  e.preventdefault() formSearch.submit(); }
</script>