<div class="m-4">
  <div >
    <h3>Khóa học đã xoá</h3>
    <a href="/me/stored/courses">Danh Sách Khoá Học</a>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">VideoId</th>
                <th scope="col" colspan="2">Slug</th>
            </tr>
            </thead>
            <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.slug}}</td>
                <td class="option-btn text-center">
                    <a href="/me/trash/courses" class="btn btn-primary btn-restore {{this.slug}}" data-id="{{this._id}}">Khôi Phục</a>
                    <a href="" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xóa Vĩnh Viễn</a>
                </td>  
            </tr>

            {{else}}
              <tr class="text-center">  
                <td colspan="4">There are no courses
                  <a href="/course/create">Create Course</a>
                  </td>
              </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
</div>

<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Course</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this course.</p>
      </div>
      <div class="modal-footer">
        <button id="btn-destroy-course" type="button" class="btn btn-danger">Destroy</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <form id="restore-form" method="POST">

<script>
var restoreForm = document.querySelector("#restore-form");
  


var btnRestores = document.querySelectorAll('.btn-restore');
btnRestores.forEach(btnRestore => {
  btnRestore.onclick = (e) => {
      e.preventDefault();
      var courseIdrestore = e.target.getAttribute('data-id');
      restoreForm.action = "/course/" + courseIdrestore + "/restore?_method=PATCH";
      restoreForm.submit();

  }
})
</script>