<form class="m-4" name="container-form" method="POST" action="/courses/handle-method-course">
    <div class="d-flex justify-content-between title-store">
      <h5>Khóa học đã xoá</h5>
      <a href="/me/stored/courses" class="ml-auto fs-5 text-decoration-none fs-4"><i class="fa-solid fa-reply"></i></a>
    </div>
    <div class="mt-2 d-flex checkbox-all-course justify-content-center">
      <div class="mt-16 form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>
      <select class="form-select mb-2 select-method-course" aria-label="Default select example" name="action" required>
          <option selected value="">-- Phương thức --</option>
          <option value="restore">Khôi phục</option>
          <option class="hard-delete-btn" value="hardDelete">Xoá vĩnh viễn</option>
      </select>
      <button type="submit" class="btn btn-primary btn-sumbit-method" disabled>Thực hiện</button>
      </div>
    <form class="row">
        <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
            </thead>
            <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="mt-16 form-check">
                    <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{convertToVietnameseDateTime this.deletedAt}}</td>
                <td class="option-btn text-center">
                    <a href="/me/trash/courses" class="btn btn-primary btn-restore {{this.slug}}" data-id="{{this._id}}">Khôi Phục</a>
                    <a href="/me/trash/courses" class="btn btn-danger btn-delete" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xóa Vĩnh Viễn</a>
                </td>  
            </tr>

            {{else}}
              <tr class="text-center">  
                <td colspan="5">Không có khóa học nào
                  <a href="/courses/create">Tạo khoá học</a>
                  </td>
              </tr>
            {{/each}}
            </tbody>
        </table>
        </div>
      </form>
      <form class="form-delete" method="POST"></form>
      <div id="delete-course-modal" class="modal" tabindex="-1">
        <div class="modal-dialog mt-5">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Xoá Vĩnh Viễn</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Bạn có muốn xóa vĩnh viễn khóa học này?</p>
            </div>
            <div class="modal-footer">
              <button id="btn-destroy-course" type="button" class="btn btn-danger">Xoá vĩnh viễn</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
          </div>
        </div>
      </div>
      <form id="restore-form" method="POST"></form>
    
<script>
var restoreForm = document.querySelector("#restore-form");
var btnRestores = document.querySelectorAll('.btn-restore');

btnRestores.forEach(btnRestore => {
  btnRestore.onclick = (e) => {
      e.preventDefault();
      var courseIdrestore = e.target.getAttribute('data-id');
      restoreForm.action = "/courses/" + courseIdrestore + "/restore?_method=PATCH";
      restoreForm.submit();
  }
})
const exampleModal = document.getElementById('delete-course-modal')
 var courseId;
  exampleModal.addEventListener('show.bs.modal', function(event) {
    const button = event.relatedTarget
    courseId = button.getAttribute('data-bs-id');
    const btnDestroyCourse = document.getElementById("btn-destroy-course")
    const deleteForm = document.querySelector(".form-delete");
    btnDestroyCourse.onclick = () => {
        deleteForm.action = "/courses/" + courseId + "/delete?_method=DELETE";
        deleteForm.submit(); 
          }
   
  })

  var checkboxAll = $("#checkbox-all")
  var courseItemcheckbox = $("input[name='courseIds[]']")
  var submitMethodBtn = $(".btn-sumbit-method")
  var formContainer = document.forms["container-form"]

  checkboxAll.change(function() {
    var isChecked = $(this).prop('checked')
    courseItemcheckbox.prop('checked', isChecked)
    checkSelectedCourse()
  })

  courseItemcheckbox.change(function() {
    var isAllChecked = courseItemcheckbox.length === courseItemcheckbox.filter(':checked').length
    checkboxAll.prop('checked', isAllChecked)
    checkSelectedCourse()
  })

  function checkSelectedCourse() {
    var selectedCourseCount = $("input[name='courseIds[]']:checked").length
    if (selectedCourseCount) {
      submitMethodBtn.removeAttr("disabled")
    } else {
      submitMethodBtn.attr("disabled", "disabled")
    }
  }
  
  submitMethodBtn.on("submit", function(e) {
    var isSubmitable = !$(this).hasClass("disabled")

    if(!isSubmitable) {
     e.preventDefault();
    }
  })
</script>